<ion-view title="Add a Route">
    <ion-content>
        <form>
            <div class="padding">
                <button class="button button-outline button-select button-light ion-android-subway" modal-class="modalClass" modal-select ng-model="addroute.origin" options="sourceStations"
                        modal-title="Select Origin" header-footer-class="bar-stable" sub-header-class="bar-stable" has-search="true">
                    {{&nbsp;addroute.origin.name || &apos;&nbsp;Select Origin&apos;}}
                    <div class="option">
                        {{option.name}}
                    </div>
                </button>
            </div>

            <div class="padding">
                <button class="button button-outline button-select button-light ion-android-subway" modal-class="modalClass" modal-select ng-model="addroute.destination" options="destinationStations"
                        modal-title="Select Destination" header-footer-class="bar-stable" sub-header-class="bar-stable" has-search="true">
                    {{&nbsp;addroute.destination.name || &apos;&nbsp;Select Destination&apos;}}
                    <div class="option">
                        {{option.name}}
                    </div>
                </button>
            </div>

            <ion-checkbox ng-model="addroute.reverseDirection">Add Return Route</ion-checkbox>
            <div class="button-bar padding">
                <button type="button" class="button button-stable ion-ios-minus-outline" ng-click="addroute.cancelAddRoute()">&nbsp;Cancel</button>
                <button type="button" class="button button-balanced" ng-click="addroute.addRouteToFavorites()">Add to My Routes</button>
            </div>
            </div>
        </form>
    </ion-content>
</ion-view>



