<ion-view>
    <ion-content>
        <form ng-submit="quicklookup.showEstimatedDeparture()">
            <div ng-init="quicklookup.getStations()">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Origin
                    </div>
                    <select ng-model="quicklookup.origin" ng-options="station.abbr as station.name for station in stations.station">
                        <option value="" selected disabled>Select Origin</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Destination
                    </div>
                    <select ng-model="quicklookup.destination" ng-options="station.abbr as station.name for station in stations.station">
                        <option value="" selected disabled>Select Destination</option>
                    </select>
                </label>
                <button type="submit" class="button button-full button-positive">Quick Lookup</button>


                <div class="item calm-border" ng-if="estDeparture">
                    <div class="row">
                        <div class="col col-75">
                            <b>Next departure in</b>
                        </div>
                        <div class="col">
                            <span ng-if="estDeparture === 'LEAVING_NOW'">
                                <b>Leaving</b>
                            </span>
                            <span ng-if="estDeparture > 0">
                                <b><timer interval="1000" countdown="estDeparture">{{minutes}}m:{{seconds}}s</timer></b>
                           </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-75">
                            <b>Fare</b>
                        </div>
                        <div class="col">
                            <b>{{routeFare | currency:$:2}}</b>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>



