<ion-view title="Quick Lookup">
    <ion-content padding="false">
        <form>
            <div>
                <div class="padding">
                    <button class="button button-outline button-select button-light ion-android-subway" modal-class="modalClass" modal-select ng-model="quicklookup.origin"
                            options="stations"
                            modal-title="Select Origin" header-footer-class="bar-stable" sub-header-class="bar-stable" has-search="true">
                        {{&nbsp;quicklookup.origin.name || &apos;&nbsp;Select Origin&apos;}}
                        <div class="option">
                            {{option.name}}
                        </div>
                    </button>
                </div>

                <div class="padding">
                    <button class="button button-outline button-select button-light ion-android-subway" modal-class="modalClass" modal-select ng-model="quicklookup.destination"
                            options="stations"
                            modal-title="Select Destination" header-footer-class="bar-stable" sub-header-class="bar-stable" has-search="true">
                        {{&nbsp;quicklookup.destination.name || &apos;&nbsp;Select Destination&apos;}}
                        <div class="option">
                            {{option.name}}
                        </div>
                    </button>
                </div>

                <div class="button-bar padding">
                    <button type="button" class="button button-full button-balanced ion-ios-search-strong" ng-click="quicklookup.showEstimatedDeparture()">&nbsp;Quick Lookup
                    </button>
                </div>

                <div ng-repeat="quickLookup in quickLookups | orderBy: 'id'">
                    <div class="item calm-border" ng-if="quickLookup.estDeparture">
                        <div class="row">
                            <div class="col-66">
                                <div>
                                    <small><span><i class="icon ion-android-train" style=""></i></span> {{quickLookup.firstStationName}}</small>
                                </div>
                                <div ng-if="quickLookup.hasLink">
                                    <small><i class="icon ion-link"></i> {{quickLookup.connectingStationName}}</small>
                                    <div>
                                        <small><i class="icon ion-android-train" style=""></i> {{quickLookup.destinationStationName}}</small>
                                    </div>
                                </div>
                                <div ng-if="quickLookup.hasMoreLinks">
                                    <small><i class="icon ion-link"></i> {{quickLookup.finalConnectingStationName}}</small>
                                    <div>
                                        <small><i class="icon ion-android-train" style=""></i> {{quickLookup.finalDestinationStationName}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-center">
                                <div>
                                <span ng-if="quickLookup.estDeparture === 'LEAVING_NOW'">
                                    <small><b>Leaving</b></small> ({{quickLookup.carLength}} car)
                                </span>
                                <span ng-if="quickLookup.estDeparture > 0">
                                    <small>
                                        <timer interval="1000" language="en" countdown="quickLookup.estDeparture">{{minutes}}m:{{seconds}}s</timer>
                                        ({{quickLookup.carLength}} car)
                                    </small>

                               </span>
                                </div>
                                <div>
                                    <small>{{quickLookup.routeFare | currency:$:2}}, Arr {{quickLookup.destTimeMin}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>



