<ion-view>
    <ion-content ng-init="myroutes.loadFavoriteRouteSchedule()" has-header="true" padding="true">
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="myRoute in myRoutes | orderBy:myRoute.index  track by $index">
                <div class="row">
                    <div class="col-75">
                        <small>{{myRoute.originName}}</small>
                    </div>
                    <div class="text-right">
                            <span ng-if="myRoute.estDeparture === 'LEAVING_NOW'">
                                <small>Leaving</small>
                            </span>
                            <span ng-if="myRoute.estDeparture > 0">
                                <small>
                                    <timer interval="1000" language="en" countdown="myRoute.estDeparture">{{minutes}}m:{{seconds}}s</timer>
                                </small>
                           </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        <small><span ng-if="myRoute.hasLink"><i class="icon ion-link"></i></span> to {{myRoute.destinationName}}</small>
                    </div>
                    <div class="text-right">
                        <small>{{myRoute.routeFare | currency:$:2}}, Arr {{myRoute.destTimeMin}}</small>
                    </div>
                </div>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="myroutes.deleteRoute(myRoute)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


