<ion-view>
    <ion-content>
        <form>
            <div ng-init="myroutes.loadFavoriteRouteSchedule()">
                <div class="list text-center padding" ng-if="estDeparture">
                    <div class="text-center">
                        <h4>Next departure {{origin}} - {{destination}} in </h4>
                    </div>
                    <div class="item item-floating-label calm-border text-center">
                        <div ng-if="estDeparture === 'LEAVING NOW'">
                            <h1>{{estDeparture}}</h1>
                        </div>
                        <div ng-if="estDeparture > 0">
                            <h1>
                                <timer interval="1000" countdown="estDeparture">{{minutes}}m:{{seconds}}s</timer>
                            </h1>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-view>



