.pane {
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
}

.item-complex .item-content, .item-select, .item {
    background: transparent;
    border-color: transparent;
    color: #dddddd;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item.activated, .item.activated.item-complex>.item-content {
    box-shadow: inset 0 0 100px 150px #122a2b;
}

.col-72 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 72%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 72%;
    -ms-flex: 0 0 72%;
    flex: 0 0 72%;
    max-width: 72%; }

/* iPhone < 5: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .item-complex .item-content, .item-select, .item {
        font-size: 13px;
    }
}

/* iPhone 5: */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    .item-complex .item-content, .item-select, .item {
        font-size: 14px;
    }
}

/* iPhone 6: */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .item-complex .item-content, .item-select, .item {
        font-size: 17px;
    }
}

/* iPhone 6 Plus: */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px){
    .item-complex .item-content, .item-select, .item {
        font-size: 18px;
    }
}

/* iPad: */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .item-complex .item-content, .item-select, .item {
        font-size: 22px;
    }
}

.input-label {
    color: #dddddd;
    font-weight: bold;
}

.modalClass {
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
}

.button-select {
    padding: 0 16px;
    text-align: left;
    min-width: 100%;
    min-height: 59px;
    font-size: 18px;
    font-weight: bold;
    line-height: 53px;
}

.button-small-font {
    font-size: small !important;
}

[nav-view-transition][nav-view-direction] {
    background-color: transparent;
}

